.brick-breaker-page__wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.brick-breaker-page__info-section {
  width: 100%;
  height: 5rem;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.brick-breaker-page__info-section-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.brick-breaker-page__field-section {
  position: relative;
  width: 100%;
  height: calc(100% - 9rem);
  padding: 0 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 0 auto;
}

.brick-breaker-page__field-message-box {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 300ms;
}

.brick-breaker-page__field-message-box--hidden {
  opacity: 0;
}

.brick-breaker-page__field-message-box > * {
  padding: 1em;
  text-shadow: 2px 2px 5px rgba(255, 215, 0, 1);
}

.info-item-wrapper {
  display: inline-block;
  position: relative;
}

#score,
#life-count {
  position: absolute;
  top: 50%;
  white-space: nowrap;
  transform: translateY(-50%);
  transition: font-size 300ms;
}

#score {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#life-count {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#field {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 112, 1);
}
