.main-menu,
.levels-gallery {
  list-style: none;
  user-select: none;
}

.main-menu__title {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.main-menu__item {
  padding: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

.main-menu__item:hover {
  color: rgba(187, 255, 255, 1);
  cursor: pointer;
}

.main-menu__item:active {
  color: rgba(187, 255, 255, 0.5);
  cursor: pointer;
}

/* levels-gallery */
.modal__levels-gallery .modal-content {
  width: 80%;
  min-width: 300px;
  height: 80%;
  min-height: 225px;
  overflow: hidden;
}

.levels-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.levels-gallery__scroll-box {
  width: 100%;
  height: calc(100% - 2.5rem);
  margin-top: 1rem;
}

.levels-gallery-item {
  flex: 0 1 auto;
  padding: 16px;
  width: 33.3333%;
}

.levels-gallery-item__button {
  outline: none;
  border: 1px solid rgba(25, 25, 112, 1);
  background-color: rgba(0, 0, 0, 0);
  transition: box-shadow 300ms, transform 300ms;
  cursor: pointer;
}

.levels-gallery-item__button:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transform: scale(1.01);
}

.levels-gallery-item__button:active {
  box-shadow: none;
  transform: scale(0.99);
}

.levels-gallery-item__button-content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.10);
}
