.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 1;
  transition: opacity 300ms;
}

.modal--hidden {
  opacity: 0;
}

.modal--filled-smoke {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
}

.modal--align-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 300px;
  background-color: rgba(25, 25, 112, 1);
  color: rgba(255, 255, 255, 1);
  padding: 1rem;
}

.levels-gallery__title {
  width: 100%;
  height: 1.5rem;
  font-size: 1.25rem;
}
