.scroll-box {
  width: 100%;
  position: relative;
}

.scroll-box__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll-box__vertical-bar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 300ms, width 300ms;
}

.scroll-box__vertical-handler {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.scroll-box__vertical-bar--active {
  width: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.scroll-box__vertical-bar--active .scroll-box__vertical-handler {
  background-color: rgba(0, 0, 0, 0.15);
}

.scroll-box__vertical-bar:hover {
  width: 1rem;
}

.scroll-box:hover .scroll-box__vertical-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

.scroll-box:hover .scroll-box__vertical-handler {
  background-color: rgba(0, 0, 0, 0.15);
}

.scroll-box__horizontal-bar {

}

.scroll-box__horizontal-handler {

}
