html, body, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgba(25, 25, 112, 1);
  color: rgba(255, 255, 255, 0.85);
}

#app-root {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#modal-root {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.large-text {
  font-size: 2rem;
}

.text--positive {
  color: rgba(0, 205, 102, 1);
}

.text--negative {
  color: rgba(255, 48, 48, 1);
}
